.wrapper{
    position: fixed;
    height: calc(100vh);
    width: calc(100vw);
    /* border: 2px solid red; */
    overflow: hidden;
    z-index: 1;
}

.dataHolder{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(70,70,70,1) 100%);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
}

.dataCard{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    width: 120px;
    /* background-color: brown; */
}

.coords{
    margin: 0;
    color: #eee;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mapMarker{
    position: absolute;
    /* height: 50px; */
    width: fit-content;
    border-radius: 5px;
    z-index: 50;
    transition: transform 2s ease-in-out;
}

.consoleToggleBtn{
    position: fixed;
    bottom: 82px;
    right: 10px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    background-color: #eee;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}